<h1 class="pro">Your Profile</h1>
<h2 class="hi">Hiiiii Welcome!!!</h2>
<h3 class="your">Enter your Details</h3>
<link rel="stylesheet" href="/profile.css">

<form action="/save-profile" method="POST">

    <input type="text" class="media" name="socialMedia" placeholder="Drop your Insta/Facebook profile" value="{{profile.socialMedia}}">
    <input type="text" class="details" name="about" placeholder="Enter few details about yourself" value="{{profile.about}}">
    <input type="text" name="age" class="Age" placeholder="Age" value="{{profile.age}}">
    <input type="text" name="school" class="school" placeholder="School/other" value="{{profile.school}}">
</form>


